<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microlittleblog.system.mapper.SysUserMapper">

    <select id="selectUserByLoginName" parameterType="String" resultType="com.microlittleblog.system.domain.SysUser">
        select * from sys_user
        where login_name = #{userName}
    </select>

    <select id="selectUserByEmail" parameterType="String" resultType="com.microlittleblog.system.domain.SysUser">
        select * from sys_user
        where email = #{email}
    </select>

</mapper>